<form action="/upd_rating/{{ rating.rating_id }}" method="POST">
    <input type="radio", name="score", value="1">
    <label for="1">1</label>
    <input type="radio", name="score", value="2">
    <label for="2">2</label>
    <input type="radio", name="score", value="3">
    <label for="3">3</label>
    <input type="radio", name="score", value="4">
    <label for="4">4</label>
    <input type="radio", name="score", value="5">
    <label for="5">5</label>
    <p>
        <input type="submit">
      </p>